<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletEmployee</servlet-name>
        <servlet-class>service.ServletEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEmployee</servlet-name>
        <url-pattern>/ServletEmployee/selectAll</url-pattern>
        <url-pattern>/ServletEmployee/insert</url-pattern>
        <url-pattern>/ServletEmployee/delete</url-pattern>
        <url-pattern>/ServletEmployee/deleteAll</url-pattern>
        <url-pattern>/ServletEmployee/update</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
